
<h1>Welcome Saigon Resto</h1>

<video width="100%" height="35%" autoplay>
  <source src="/videos/avo-egg.mp4" type="video/mp4"/>
</video>

<hr />

<div class="row menu">
  <%= render 'shared/menu' %>
</div>  
